.questionThreeContainer{
    /* background-image: url("../../../../images/questionOneBackground.png");
    background-size: contain;
    background-repeat: no-repeat;*/
    background-color:#4B4453 ;
    padding: 30px;
    position: relative;
    padding-bottom: 216px;
    overflow: hidden;
}



.answers{
    font-size: 24px;
    margin: 20px 0;
}

.theAnswers a{
    color: black;
}