.imagine{
    height: 625px;
    width: 340px;
    position: absolute;
    bottom: -375px;
    right: -61px;
    animation: pain 1s ;
}

@keyframes pain {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
  }